@use 'global' as *;

.layout-header {
    height: rem(80);
    z-index: 3000;
    background-color: rgba(13,41,54,0.68);
    position: fixed;
    width: 100%;
    transition: 0.3s;
    @include mq("md"){
        height: rem(90);
    }
}

.layout-header.change-color {
    background-color: $gray;
    transition: 0.3s;
}
