@use 'global' as *;

.about__inner {
    max-width: rem(600);
}

.about__contents {
    margin-top: rem(27);
    @include mq("md"){
        margin-top: rem(40);
        position: relative;
    }
}

    .about__contents::after {
        @include mq("md"){
            position: absolute;
            content: "";
            width: rem(194);
            height: rem(181);
            background-image: url(../images/common/sango.svg);
            background-repeat: no-repeat;
            background-size: contain;
            bottom: -14%;
            right: calc(50% - min(48.5vw, rem(638)));
            z-index: 3;
        }
    }

.about__img-wrapper {
    position: relative;
    aspect-ratio: 1.6273;
    @include mq("md"){
        aspect-ratio: 1.6333;
    }
}

.about__img01 {
    position: absolute;
    top: 0;
    left: 0;
    width: 37%;
    z-index: 3;
}

.about__img02 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 81%;
}


.about__img01 img,
.about__img02 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__text-wrapper {
    margin-top: rem(40);
    @include mq("md"){
        position: absolute;
        top: 48.5%;
        right: 0;
        transform: translateY(-50%);
        display: flex;
        gap: rem(40);
        max-width: rem(840);
        margin-right: rem(40);
        margin-top: 0;
        z-index: 4;
    }
}

.about__text-title {
    font-size: rem(40);
    line-height: 1;
    font-family: $third-font-family;
    color: $green-accent;
    font-weight: $regular;
    @include mq("md"){
        font-size: rem(80);
        line-height: calc(5 / 4);
        color: $white;
        width: 50%;
    }
}

.about__text {
    margin-top: rem(16);
    @include mq("md"){
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-top: 0;
    }

}

.about__sub {
    font-size: rem(16);
    line-height: 1.5;
    color: $green;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    @include mq("md"){
        color: $white;
        -webkit-line-clamp: all;
    }
}

.about__button {
    text-align: center;
    margin-top: rem(50);
    @include mq("md"){
        margin-top: rem(40);
    }
}