@use 'global' as *;

.aside-voice__inner {
    margin-top: rem(24);
}

.aside-voice__img {
    aspect-ratio: 294 / 218;
}

.aside-voice__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aside-voice__age {
    font-size: rem(12);
    font-weight: $regular;
    line-height: 1.5;
    margin-top: rem(20);
    color: $green;
    @include mq("md"){
        margin-top: rem(32);
    }
}

.aside-voice__title {
    font-weight: $medium;
    font-size: rem(24);
    margin-top: rem(8);
    color: $green;
    letter-spacing: 0.01em;
}

