@use 'global' as *;

.aside {
    padding-left: rem(25);
    padding-right: rem(25);
    margin-inline: auto;
}

.aside__content:not(:first-child) {
    margin-top: rem(80);
}


.aside__button {
    text-align: center;
    margin-top: rem(40);
}