@use 'global' as *;

.blog-cards {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: rem(40);
    row-gap: rem(32);
    @include mq("md"){
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.blog-cards a {
    display: block;
}

.blog-cards--page {
    @include mq("md"){
        grid-template-columns: 1fr 1fr;
        row-gap: rem(80);
        column-gap: rem(40);
    }
}