@use 'global' as *;

.blog-cards {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: rem(40);
    row-gap: rem(35);
    @include mq("md"){
        grid-template-columns: 1fr 1fr 1fr;
    }
}