@use 'global' as *;

.blog__inner {
    max-width: rem(600);
}

.blog__contents {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: rem(40);
    margin-top: rem(24);
    row-gap: rem(35);
    @include mq("md"){
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: rem(80);
        position: relative;
    }
}


.blog__button {
    text-align: center;
    margin-top: rem(40);
    @include mq("md"){
        margin-top: rem(80);
    }
}
