@use 'global' as *;

.blog__inner {
    max-width: rem(600);
}

.blog__contents {
    margin-top: rem(24);
    row-gap: rem(35);
    @include mq("md"){
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: rem(80);
        position: relative;
    }
}


.card__inner--blog {
    display: flex;
    flex-direction: column;
}



.blog__img {
    padding: rem(16) rem(16) 0 rem(16);
    aspect-ratio: 301 / 201;
}

.card__body.blog__body {
    padding-top: rem(8);
}

.text--blog {
    padding-top: rem(13);
    padding-bottom: rem(8);
}

