@use 'global' as *;

.blog__inner {
    max-width: rem(600);
}

.blog__contents {
    margin-top: rem(24);
    @include mq("md"){
        margin-top: rem(80);
        position: relative;
    }
}


.blog__button {
    text-align: center;
    margin-top: rem(40);
    @include mq("md"){
        margin-top: rem(80);
    }
}
