@use 'global' as *;

.breadcrumb {
    padding: rem(8) 0;
}

.breadcrumb__text {
    font-size: rem(14);
    font-family: $base-font-family;
    color: $green;
    font-weight: $regular;
    display: flex;
    align-items: center;
}

.breadcrumb__text--white {
    color: $white;
}

.breadcrumb__text a:not(:last-child)::after {
    margin-left: 1px;
    margin-right: 1px;
    color: inherit;
}

.breadcrumbs .separator {
    padding-left: rem(8);
    padding-right: rem(8);
}







