@use 'global' as *;

.campaign__inner {
    @include mq("md"){
        position: relative;
    }
}

.campaign__swiper {
    margin-top: rem(26);
    width: 100vw;
    margin-right: calc(50% - 50vw);
    @include mq("md"){
        margin-top: rem(40);
    }
}


.swiper2 {
    padding-bottom: rem(10);
}

.swiper__controll {
    @include mq("md"){
        position: absolute;
        top: rem(30);
        right: 0;
        width: rem(260);
    }
}

.swiper-button-next,
.swiper-button-prev {
    @include mq("md"){
        width: rem(80);
        height: rem(80);
        color: $green-accent;
        background-color: $white;
        border: 1px solid $green-accent;
        border-radius: 50%;
    }
}

.swiper-button-next::after {
    @include mq("md"){
        content: "";
        width: rem(40);
        height: rem(6);
        background-image: url(../images/common/button-arrow2.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.swiper-button-prev::after {
    @include mq("md"){
        content: "";
        width: rem(40);
        height: rem(6);
        background-image: url(../images/common/button-arrow3.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    @include mq("md"){
        opacity: 0.7;
    }
}

.campaign__button {
    text-align: center;
    margin-top: rem(40);
    @include mq("md"){
        margin-top: rem(80);
    }
}




