@use 'global' as *;

.category {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: rem(16);
    @include mq("md"){
        column-gap: rem(50);
        text-align: left;
    }
}

.category__grid-left,
.category__grid-right {
    margin-top: rem(-40);
    @include mq("md"){
        display: flex;
        margin-top: 0;
    }
}

.category__item:not(:first-child) {
    @include mq("md"){
        margin-left: rem(110);
    }
}

.category__contain {
    width: rem(168);
    margin-top: rem(40);
    @include mq("md"){
        width: rem(182);
    }
}

.category__contain:nth-of-type(1) {
    @include mq("md"){
        margin-top: rem(18);
    }
}

.category__link {
    display: flex;
    align-items: flex-start;
}

.category__main:hover,
.category__link:hover {
    opacity: 0.7;
}

.category__title {
    display: flex;
}

.category__main {
    font-size: rem(16);
    line-height: calc(9 / 8);
    font-weight: $bold;
}

.category__sub {
    font-size: rem(16);
    text-indent: 1em;
    margin-top: rem(24);
    line-height: calc(9 / 8);
}

.category__hitode {
    display: block;
    width: rem(18);
    height: rem(18);
    padding-right: rem(4);
}

.category__hitode img {
    width: 100%;
    height: 100%;
}