@use 'global' as *;

.footer {
    background-color: $green-accent;
    margin-top: rem(100);
    padding-top: rem(48);
    padding-bottom: rem(56);
    @include mq("md"){
        margin-top: rem(160);
        padding-top: rem(80);
        padding-bottom: rem(80);
    }
}

.footer__header {
    @include mq("md"){
        display: flex;
        align-items: flex-end;
    }
}

.footer__sns {
    display: flex;
    margin-top: rem(16);
    @include mq("md"){
        margin-top: 0;
        padding-bottom: rem(10);
        margin-left: rem(40);
    }
}

.footer__link {
    display: block;
    width: rem(120);
    @include mq("md"){
        width: rem(200);
    }
}

.facebook,
.instagram {
    display: block;
    width: rem(24);
    @include mq("md"){
        width: rem(32);
    }
}

.facebook:hover,
.instagram:hover {
    opacity: 0.7;
}

.instagram {
    margin-left: rem(16);
}

.facebook img,
.instagram img {
    width: 100%;
}

.footer__copyright small {
    display: block;
    text-align: center;
    margin-top: rem(40);
    font-size: rem(12);
    line-height: 1.5;
    font-family: $third-font-family;
    @include mq("md"){
        font-size: rem(14);
        line-height: calc(9 / 7);
        margin-top: rem(80);
    }
}



