@use 'global' as *;

.footer {
    background-color: $green-accent;
    padding-top: rem(48);
    padding-bottom: rem(56);
    @include mq("md"){
        padding-top: rem(80);
        padding-bottom: rem(80);
    }
}

.footer__inner {
    background-color: $green-accent;
    color: $white;
    padding-right: rem(15);
    padding-left: rem(15);
}

.footer__header {
    @include mq("md"){
        display: flex;
        align-items: flex-end;
        padding-bottom: rem(20);
    }
}

.footer__sns {
    display: flex;
    margin-top: rem(16);
    @include mq("md"){
        margin-top: 0;
        padding-bottom: rem(10);
        margin-left: rem(40);
    }
}

.footer__link {
    display: block;
    width: rem(120);
    @include mq("md"){
        width: rem(200);
    }
}

.footer__sns--facebook,
.footer__sns--instagram {
    display: block;
    width: rem(24);
    @include mq("md"){
        width: rem(32);
    }
}

.footer__sns--facebook:hover,
.footer__sns--instagram:hover {
    opacity: 0.7;
}

.footer__sns--instagram {
    margin-left: rem(16);
}

.footer__sns--facebook img,
.footer__sns--instagram img {
    width: 100%;
}

.footer__grid {
    margin-top: rem(40);
    @include mq("md"){
        margin-top: 0;
    }
}

.footer__copyright small {
    display: block;
    text-align: center;
    margin-top: rem(40);
    font-size: rem(12);
    line-height: 1.5;
    font-family: $third-font-family;
    @include mq("md"){
        font-size: rem(14);
        line-height: calc(9 / 7);
        margin-top: rem(80);
    }
}



