@use 'global' as *;

.mv {
    width: 100%;
    height: 100vh;
}

.mv__inner {
    position: relative;
    width: 100%;
    height: inherit;
}

.mv__swiper,
.swiper-slide picture,
.swiper-slide img {
    height: inherit;
}

.swiper-slide img {
    object-fit: cover;
}

.mv__title-wrap {
    position: absolute;
    color: $white;
    z-index: 10;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.mv__title {
    font-size: rem(40);
    font-family: $fourth-font-family;
    letter-spacing: 0.54em;
    text-indent: 0.54em;
    @include mq("md"){
        font-size: rem(80);
        line-height: calc(5 / 4);
    }
}

.mv__title-sub {
    font-size: rem(20);
    font-family: $third-font-family;
}


.mv__title--loading1,
.mv__title--loading2,
.mv__title-sub--loading1,
.mv__title-sub--loading2 {
    color: $green-accent;
    font-weight: $normal;
}
.mv__title--loading1,
.mv__title-sub--loading1 {
    text-align: right;
}

.mv__title--loading1 {
    margin-right: -0.27em;
}

.mv__title--loading2 {
    margin-left: -0.27em;
}

.mv__title--loading2,
.mv__title-sub--loading2 {
    text-align: left;
}
