@use 'global' as *;

.page-information__inner {
    position: relative;
}

.page-information__inner::before {
    content: "";
    position: absolute;
    width: rem(120);
    height: rem(55);
    background-image: url(../images/common/fish-right.svg);
    background-repeat: no-repeat;
    background-size: contain;
    top: -15%;
    left: auto;
    z-index: -1;
    @include mq("md"){
        width: rem(301);
        height: rem(138);
        top: -15%;
        left: calc(50% - min(50vw, 38.75rem));
    }
}