@use 'global' as *;

.page-blog__inner {
    position: relative;
    @include mq("md"){
        display: flex;
        gap: rem(64);
    }
}

.page-blog__inner::before {
    content: "";
    position: absolute;
    width: rem(120);
    height: rem(55);
    background-image: url(../images/common/fish-right.svg);
    background-repeat: no-repeat;
    background-size: contain;
    top: -0.3%;
    left: auto;
    z-index: 2;
    @include mq("md"){
        width: rem(301);
        height: rem(138);
        top: -2.7%;
        left: calc(50% - min(50vw, 38.75rem));
        z-index: -1;
    }
}

.page-blog__main {
    max-width: rem(600);
    width: 100%;
    margin-inline: auto;
    @include mq("sm"){
        max-width: rem(706);
    }
}

.page-blog__pagination {
    margin-top: rem(46);
    @include mq("md"){
        margin-top: rem(80);
    }
}

.page-blog__aside {
    margin-top: rem(80);
    @include mq("md"){
        margin-top: 0;
    }
}