@use 'global' as *;

.page-contact__inner {
    position: relative;
    max-width: rem(600);
    @include mq("md"){
        max-width: rem(700);
    }
}

.page-contact__inner::before {
    content: "";
    position: absolute;
    width: rem(120);
    height: rem(55);
    background-image: url(../images/common/fish-right.svg);
    background-repeat: no-repeat;
    background-size: contain;
    top: 0;
    left: 4%;
    z-index: -1;
    @include mq("md"){
        width: rem(301);
        height: rem(138);
        top: -2%;
        left: calc(50% - min(50vw, 38.75rem));
    }
}


.page-contact__list {
    padding-top: rem(22);
    padding-bottom: rem(22);
    border-bottom: dashed rem(1) $green-accent;
    @include mq("md"){
        padding-top: rem(40);
        padding-bottom: rem(40);
    }
}

.page-contact__list:nth-child(5) {
    @include mq("md"){
        padding-top: rem(25);
    }
}

.page-contact__list:nth-child(6) {
    @include mq("md"){
        padding-top: rem(35);
    }
}

.page-contact__item {
    @include mq("md"){
        display: flex;
    }
}

.page-contact__item dt {
    color: $green;
    font-weight: $bold;
    font-size: rem(16);
    @include mq("md"){
        width: 31%;
    }
}

.page-contact__require {
    color: $white;
    background-color: $red;
    font-size: rem(12);
    font-weight: $regular;
    letter-spacing: 0.4em;
    text-indent: 0.4em;
    padding: rem(2) rem(12);
    display: inline-block;
    margin-left: rem(8);
}

.page-contact__item dd {
    @include mq("md"){
        width: 69%;
    }
}

.page-contact__input,
.page-contact__textarea {
    border: rem(1) solid $green-accent;
    width: 100%;
    font-size: rem(16);
    color: $green;
    font-weight: $regular;
    padding: rem(8) rem(16);
    margin-top: rem(16);
    @include mq("md"){
        margin-top: 0;
    }
}

.page-contact__input::placeholder {
    color: $green2;
}

.page-contact__input,
.page-contact__textarea {
    color: $green;
    &:focus {
        color: $green;
    }
}

.page-contact__textarea {
    height: rem(200);
}


.page-contact__checkbox {
    display: flex;
    flex-wrap: wrap;
    row-gap: 6px;
    border: none;
    padding: 13px 0 0 0;
    @include mq("md"){
        flex-direction: column;
        padding: 0;
    }
}

.page-contact__checkbox.page-contact__checkbox--small {
    font-size: rem(14);
    line-height: calc(11/7);
    padding: 0;
}

.page-contact__checkbox label {
    display: flex;
    align-items: center;
    gap: 0 .5em;
    position: relative;
    cursor: pointer;
}

.wpcf7-list-item {
    margin-left: 0;
}

.page-contact__checkbox label::before {
    width: rem(14);
    height: rem(14);
    border: rem(1) solid $green-accent;
    content: '';
}

.page-contact__checkbox.page-contact__checkbox--small label::before {
    width: rem(21);
    height: rem(21);
    border: rem(1) solid $green-accent;
    content: '';
}

.page-contact__checkbox label:has(:checked)::after {
    position: absolute;
    top: rem(5);
    left: rem(5);
    transform: rotate(45deg);
    width: rem(5);
    height: rem(10);
    border: solid $red;
    border-width: 0 rem(2) rem(2) 0;
    content: '';
}

.page-contact__checkbox.page-contact__checkbox--small label:has(:checked)::after {
    position: absolute;
    top: rem(2);
    left: rem(7);
    transform: rotate(45deg);
    width: rem(7);
    height: rem(13);
    border: solid $red;
    border-width: 0 rem(2) rem(2) 0;
    content: '';
}

.page-contact__checkbox input {
    display: none;
}

.page-contact__selectbox {
    display: block;
    position: relative;
    width: 100%;
    margin-top: rem(16);
    @include mq("md"){
        margin-top: 0;
    }
}


.page-contact__selectbox::after {
    position: absolute;
    right: rem(15);
    width: rem(10);
    height: rem(7);
    top: 40%;
    background-color: $green-accent;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
    pointer-events: none;
}

.page-contact__selectbox select {
    appearance: none;
    width: 100%;
    height: 2.8em;
    padding: .4em calc(.8em + 30px) .4em .8em;
    border: rem(1) solid $green-accent;
    background-color: $white;
    color: $green;
    font-size: rem(12);
    font-weight: $regular;
    cursor: pointer;
}

.page-contact__text {
    text-align: left;
    margin-top: rem(40);
    @include mq("md"){
        text-align: center;
        margin-top: rem(80);
        margin-inline: auto;
    }
}


.page-contact__text fieldset {
    display: flex;
    align-items: flex-start;
    @include mq("md"){
        align-items: center;
    }
}

.page-contact__text label {
    display: flex;
    align-items: flex-start;
    white-space: nowrap;
    margin-inline: auto;
    @include mq("md"){
        align-items: center;
        margin-inline: auto;
    }
}

.page-contact__text input[type="checkbox"] {
    margin-right: rem(10);
}


.page-contact__button {
    text-align: center;
    margin-top: rem(24);
    @include mq("md"){
        margin-top: rem(40);
    }
}

.input-error {
    border: rem(1) solid $red;
    background-color: rgba($red, 0.2);
}

.input-error::placeholder {
    color: $white;
}

.error-message {
    color: $red;
    margin-bottom: rem(40);
    display: none;
    font-size: rem(14);
    margin-inline: auto;
    text-align: left;
    text-indent: -1em;
    padding-left: 1em;
    max-width: 70%;
    @include mq("sm"){
        text-align: center;
        max-width: 100%;
    }
}


.error-prefix {
    display: block;
    @include mq("md"){
        display: inline;
    }
}





