@use 'global' as *;

.page-price__inner {
    width: 100%;
    position: relative;
    @include mq("md"){
        max-width: rem(750);
    }
}

.page-price__inner::before {
    content: "";
    position: absolute;
    width: rem(120);
    height: rem(55);
    background-image: url(../images/common/fish-right.svg);
    background-repeat: no-repeat;
    background-size: contain;
    top: -2%;
    left: 0;
    z-index: -1;
    @include mq("md"){
        width: rem(301);
        height: rem(138);
        top: -7%;
        left: calc(50% - min(50vw, 38.75rem));
    }
}

.page-price__lists {
    display: grid;
    gap: rem(40);
    @include mq("md"){
        gap: rem(83);
    }
}





