@use 'global' as *;

.page-faq__inner {
    position: relative;
    width: 100%;
    @include mq("md"){
        max-width: rem(700);
    }
}

.page-faq__inner::before {
    content: "";
    position: absolute;
    width: rem(120);
    height: rem(55);
    background-image: url(../images/common/fish-right.svg);
    background-repeat: no-repeat;
    background-size: contain;
    top: -1%;
    left: 4%;
    z-index: -1;
    @include mq("md"){
        width: rem(301);
        height: rem(138);
        top: -3.2%;
        left: calc(50% - min(50vw, 38.75rem));
    }
}




