@use 'global' as *;

.page-campaign__inner {
    position: relative;
    padding-top: rem(40);
    @include mq("md"){
        margin-top: rem(30);
    }
}

.page-campaign__inner::before {
    content: "";
    position: absolute;
    width: rem(120);
    height: rem(55);
    background-image: url(../images/common/fish-right.svg);
    background-repeat: no-repeat;
    background-size: contain;
    top: 1%;
    z-index: -1;
    @include mq("md"){
        width: rem(301);
        height: rem(138);
        top: -2%;
        left: calc(50% - min(50vw, 38.75rem));
    }
}

.page-campaign__contents {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: rem(40);
    row-gap: rem(40);
    margin-inline: auto;
    @include mq("sm"){
        grid-template-columns: 1fr 1fr;
        column-gap: rem(40);
        row-gap: rem(80);
    }
}

.page-campaign-card.campaign-card {
    width: 100%;
}

.page-campaign__pagination {
    margin-top: rem(80);
    margin-bottom: rem(80);
    @include mq("md"){
        margin-top: rem(85);
        margin-bottom: 0;
    }
}

