@use 'global' as *;

.page-voice__inner {
    max-width: rem(600);
    position: relative;
}

.page-voice__inner::before {
    content: "";
    position: absolute;
    width: rem(120);
    height: rem(55);
    background-image: url(../images/common/fish-right.svg);
    background-repeat: no-repeat;
    background-size: contain;
    top: -2%;
    left: 0;
    z-index: -1;
    @include mq("md"){
        width: rem(301);
        height: rem(138);
        top: -7%;
        left: calc(50% - min(50vw, 38.75rem));
    }
}

.page-voice__contents {
    margin-top: rem(40);
    @include mq("md"){
        margin-top: rem(30);
    }
}