@use 'global' as *;

.page-price__inner {
    width: 100%;
    position: relative;
    @include mq("md"){
        max-width: rem(750);
    }
}

.page-price__inner::before {
    content: "";
    position: absolute;
    width: rem(120);
    height: rem(55);
    background-image: url(../images/common/fish-right.svg);
    background-repeat: no-repeat;
    background-size: contain;
    top: -2%;
    left: 0;
    z-index: -1;
    @include mq("md"){
        width: rem(301);
        height: rem(138);
        top: -7%;
        left: calc(50% - min(50vw, 38.75rem));
    }
}

.page-price__list {
    font-size: rem(16);
    line-height: 1.5;
    text-align: center;
    width: 100%;
    margin-top: rem(40);
    @include mq("md"){
        display: flex;
        margin-top: rem(83);
    }
}

.page-price__list-main {
    background-color: $green-accent;
    text-align: center;
    padding: rem(8) rem(77);
    display: flex;
    justify-content: center;
    @include mq("md"){
        flex-direction: column-reverse;
        padding: 0 rem(20);
        width: 29%;
    }
}

.page-price__list-inner {
    @include mq("md"){
        border-top: rem(1) solid $green-accent;
    }
}

.page-price__list-title {
    margin-left: rem(8);
    color: $white;
    font-weight: $bold;
    font-size: rem(16);
    @include mq("md"){
        margin-left: 0;
    }
}

.page-price__img {
    display: inline-block;
    width: rem(24);
    height: rem(24);
    @include mq("md"){
        width: rem(64);
        height: rem(64);
        display: block;
        margin-inline: auto;
        margin-top: rem(8);
    }
}

.page-price__list-inner {
    display: flex;
    flex-wrap: wrap;
    @include mq("md"){
        width: 71%;
    }
}

.page-price__list-name,
.page-price__list-cost {
    border-right: solid rem(1) $green-accent;
    border-bottom: solid rem(1) $green-accent;
    color: $green;
}

.page-price__list-cost {
    padding: rem(16) rem(15);
}

.page-price__list-name {
    border-left: solid rem(1) $green-accent;
    padding: rem(14);
}

.page-price__list-name {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include mq("md"){
        justify-content: flex-start;
        text-align: left;
    }
}

.page-price__list-cost {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}



