@use 'global' as *;

.sitemap__inner {
    color: $green;
    padding-right: rem(15);
    padding-left: rem(15);
    position: relative;
}

.sitemap__inner::before {
    content: "";
    position: absolute;
    width: rem(109);
    height: rem(50);
    background-image: url(../images/common/fish-right.svg);
    background-repeat: no-repeat;
    background-size: contain;
    top: -5%;
    left: 6%;
    @include mq("md"){
        display: none;
    }
}

.sitemap__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: rem(16);
    margin-top: rem(40);
    @include mq("md"){
        margin-top: 0;
        column-gap: rem(111);
        text-align: left;
    }
}

.sitemap__grid-left,
.sitemap__grid-right {
    margin-top: rem(-40);
    @include mq("md"){
        display: flex;
        margin-top: 0;
    }
}

.sitemap__item:not(:first-child) {
    @include mq("md"){
        margin-left: rem(134);
    }
}

.sitemap__contain {
    width: rem(168);
    margin-top: rem(40);
    @include mq("md"){
        width: rem(182);
    }
}

.sitemap__contain:nth-of-type(1) {
    @include mq("md"){
        margin-top: rem(18);
    }
}

.sitemap__link {
    display: flex;
    align-items: flex-start;
}

.sitemap__main:hover,
.sitemap__link:hover {
    opacity: 0.7;
}

.sitemap__title {
    display: flex;
}

.sitemap__main {
    font-size: rem(16);
    line-height: calc(9 / 8);
    font-weight: $bold;
}

.sitemap__sub {
    font-size: rem(16);
    margin-left: rem(16);
    margin-top: rem(24);
    line-height: calc(9 / 8);
}

.sitemap__hitode {
    display: block;
    width: rem(18);
    height: rem(18);
    padding-right: rem(4);
}

.sitemap__hitode img {
    width: 100%;
    height: 100%;
}