@use 'global' as *;

.sp-nav {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: $green-accent;
}

.sp-nav__inner {
    color: $white;
    padding-right: rem(15);
    padding-left: rem(15);
    margin-top: rem(80);
    overflow-y: auto;
    height: calc(100% - 5rem);
    padding-bottom: rem(32);
}

.sp-nav.is-active {
    display: block;
    height: 100vh;
    overflow-y: auto;
    @include mq("md"){
        display: none;
    }
}






