@use 'global' as *;

.tab {
    width: 100%;
}

.tab__list {
    display: flex;
}

.tab__button {
    width: rem(102);
    padding: rem(10) 0;
    cursor: pointer;
    background-color: $green2;
    color: $green-accent;
    font-size: rem(14);
    font-weight: $regular;
    box-shadow: rem(2) rem(2) rem(4) rem(0) rgba($color: #000, $alpha: 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease;
    position: relative;
    width: 100%;
    height: 100%;
    @include mq("md"){
        width: rem(300);
        padding: rem(27) 0 rem(27) rem(64);
        font-size: rem(24);
    }
}

.tab__button:not(:first-child) {
    margin-left: rem(20);
    @include mq("md"){
        margin-left: rem(90);
    }
}

.tab__button.is-action {
    color: $white;
    background-color: $green-accent;
}

.tab__button:not(.is-action):hover {
    color: $white;
    background-color: $green-accent;
}

.tab__button {
    @include mq("md"){
        position: relative;
    }
}

.license-course span::before {
    @include mq("md"){
        background-image: url(../images/common/whale-green.svg);
    }
}

.fan-diving span::before {
    @include mq("md"){
        background-image: url(../images/common/whaleleft-green.svg);
    }
}

.experience-diving span::before {
    @include mq("md"){
        background-image: url(../images/common/fishicon-green.svg);
    }
}

.license-course span::before,
.fan-diving span::before,
.experience-diving span::before {
    @include mq("md") {
        content: "";
        position: absolute;
        width: rem(64);
        height: rem(64);
        top: rem(12);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: 0.3s background-color;
    }
}

.license-course span::before {
    @include mq("md"){
        left: 7%;
    }
}

.fan-diving span::before {
    @include mq("md"){
        left: 5%;
    }
}

.experience-diving span::before {
    @include mq("md"){
        left: 7%;
    }
}

.license-course:hover span::before,
.license-course.is-action span::before {
    @include mq("md") {
        background-image: url(../images/common/whale-white.svg);
        transition: 0.3s background-color;
    }
}

.fan-diving:hover span::before,
.fan-diving.is-action span::before {
    @include mq("md") {
        background-image: url(../images/common/whaleleft-white.svg);
        transition: 0.3s background-color;
    }
}

.experience-diving:hover span::before,
.experience-diving.is-action span::before {
    @include mq("md") {
        background-image: url(../images/common/fishicon-white.svg);
        transition: 0.3s background-color;
    }
}


.tab__contents {
    margin-top: rem(16);
    @include mq("md"){
        margin-top: rem(24);
    }
}

.tab__content {
    display: none;
    padding: rem(16);
    border: solid rem(1) $green-accent;
    transition: opacity 0.5s ease-in-out;
    @include mq("md"){
        justify-content: center;
        align-items: center;
        gap: rem(48);
        flex-direction: row;
    }
}

.tab__content.is-action {
    display: block;
    @include mq("md"){
        display: flex;
    }
}

.tab__text-wrapper {
    @include mq("md"){
        width: 50%;
    }
}

.tab__img {
    @include mq("md"){
        width: 50%;
    }
}

.tab__title {
    font-size: rem(24);
    font-weight: $medium;
    border-bottom: solid rem(1) $green-accent;
    color: $green;
    text-indent: rem(8);
    @include mq("md"){
        font-weight: $medium;
    }
}

.tab__text {
    font-size: rem(16);
    line-height: 1.5;
    font-weight: $regular;
    color: $green;
    margin-top: rem(8);
    text-indent: rem(8);
    padding-left: rem(8);
    letter-spacing: 0.01em;
}

.tab__img {
    aspect-ratio: 297/189;
    margin-top: rem(8);
    @include mq("md"){
        aspect-ratio: 492/313;
        margin-top: 0;
    }
}

.tab__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

