@use 'global' as *;

.tag {
    max-width: rem(744);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(16);
    @include mq("sm"){
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: rem(32);
    }
}

.tag__button {
    display: block;
    width: rem(162);
    padding: rem(6) 0;
    cursor: pointer;
    background-color: $white;
    color: $green-accent;
    font-size: rem(14);
    line-height: calc(11/7);
    text-align: center;
    font-weight: $regular;
    border: rem(1) solid $green-accent;
    transition: background-color 0.15s,color 0.15s linear;
}


.tag__button.isActive {
    background: $green-accent;
    color: $white;
    pointer-events: none;
}

.tag__button:not(.isActive):hover {
    background: $green-accent;
    color: $white;
}

