@use 'global' as *;


.voice__inner {
    max-width: rem(600);
    @include mq("md"){
        position: relative;
    }
}

.voice__inner::before {
    @include mq("md"){
        position: absolute;
        content: "";
        width: rem(71);
        height: rem(162);
        background-image: url(../images/common/seahorse.svg);
        background-repeat: no-repeat;
        background-size: contain;
        bottom: -10%;
        right: calc(50% - min(48.5vw, rem(638)));
    }
}

.voice__inner::after {
    @include mq("md"){
        position: absolute;
        content: "";
        width: rem(301);
        height: rem(138);
        background-image: url(../images/common/fish-right.svg);
        background-repeat: no-repeat;
        background-size: contain;
        top: -18%;
        left: calc(50% - min(48.5vw, rem(638)));
    }
}

.voice__contents {
    margin-top: rem(40);
    @include mq("md"){
        margin-top: rem(30);
    }
}


.voice__button {
    text-align: center;
    margin-top: rem(40);
    @include mq("md"){
        margin-top: rem(80);
    }
}

