@use 'global' as *;

.wp-pagenavi {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wp-pagenavi a,
.wp-pagenavi span {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: rem(38);
    height: rem(38);
    background: $white;
    border: solid rem(1) $green-accent;
    font-size: rem(16);
    font-family: $fourth-font-family;
    color: $green-accent;
    font-weight: bold;
    transition: all 0.15s linear;
}

.wp-pagenavi .current {
    background: $green-accent;
    color: $white;
    pointer-events: none;
}

.wp-pagenavi a:hover {
    background: $green-accent;
    color: $white;
}

.wp-pagenavi > * + * {
    margin-left: rem(12);
}

.wp-pagenavi .first {
    margin-right: rem(28);
}

.wp-pagenavi .last {
    margin-left: rem(40);
}

.wp-pagenavi-item {
    margin-right: rem(30);
    margin-left: rem(30);
    list-style: none;
}

.wpcf7-list-item {
    margin-left: rem(10);
}
